jupytext==1.11.3
numpy==1.20.1
streamlit_pandas_profiling==0.1.2
streamlit==1.2.0
bokeh==2.3.2
matplotlib==3.3.4
pandas==1.2.4
string_grouper==0.4.0
pandas_profiling==3.0.0
python_dateutil==2.8.1
xlrd==1.2.0
xlsxwriter==1.4.3
